<html>
    <head>
        <title>Login page</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="/css/login.css" rel="stylesheet"  >
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
       
        <body>
            <section id="saw">
                <div class="box">
                    <b><h4 class="ad"> ADMIN LOG IN</h4></b>
                    <div class="boz1">
                        <p class="name"> Enter Username<span class="aster">*</span> </p >
                            <center><input type=" word"  class="boz1"></center>
                    </div>
                    <div class="boz2">
                        <p class="name"> Enter Password<span class="aster">*</span> </p >
                            <center><input type=" word"  class="boz2"></center>
                    </div>
                    <div class="debb">
                        <center><a href="Admin">
                            <button type="button" class="btn btn-primary " style=" font-weight:bold;font-size:15px;  border-radius: 20px; padding:8px 25px; "   >LOG IN</button>
                        </a></center>
                    </div>
                </div>
            </section>
        
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        
    </body>
</html>